@font-face {
    font-family: "pokemonGb";
    src: local("./fonts/PokemonGb-RAeo")
}
body {
    font-family: "pokemonGb";
    background-color:whitesmoke;
    padding-left: 15%;
}
/* #start-button{
    background: url(./images/pokemon-dialog-box-gameboy-style.png) no-repeat;
    background-size: 5px;
} */

#question-page {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
    position: relative;
    grid-gap: 10px;
    background-color:whitesmoke;
    padding: 10px;
}
 #question-container {
     grid-area: header;
     display: flex;
     flex-direction: column;
     background-color: whitesmoke;
 }
 #question-image {
     padding-left: 10%;
     padding-top: 0%;
 }
 #question-box {
     position: relative;
    /* -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    opacity: 0.6; */
 }
 #question {
     background-repeat: no-repeat;
     /* background-position: left 60px bottom 0px ; */
     background-size: 280px;
     width: 280px;
     height: 88px;
     /* padding: 30px 0 0 50px; */
     font-size: 16px;
     text-align: center;
     display:flex;
     align-items: center;

 }
 #question-image {
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    opacity: 0.6;
 }
 #answer-container {
     grid-area: main;

 }
 li {
    background-repeat: no-repeat;
    background-position: left 110px center, center;
    background-size: 125px,250px;
    /* display:flex; */
    /* flex-direction: row; */
    align-items: left;
    height: 60px;
    font-size: smaller;

    margin:20px;
    padding: 40px 160px 0px 240px;
    list-style: none;
    /* text-outline: 80px; */
    /* left: 20px; */
    /* border: 1px green solid;  */
    vertical-align:text-top;
    text-align: left;
    /* border:1px blue solid; */
}



.out-of-view {
    display:none;
}
/* #question-container {
    display:flex;
    flex-direction: column;
    background-color:greenyellow;
    height: 300px;
    width: 800px;
}
#answer-container {
    display:inline;
    color:red;
    background-color: darkmagenta;
    height: 800px;
    widows: 800px;
    margin-left: 300px;
    position: relative;
    top:0;
    left:0;
}
 #answers-box{
    position:relative;
    top:0;
    left:0;
    margin: 0;
   border: 1px red solid;
}
ul {
    margin-left: 100px;;
    display: inline;
    position: absolute;
    top:310px;
    left:-100px;
    border: 1px red solid;
}
li {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 150px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:20px;
    padding: 20px 0 20px 150px;
    list-style: none;
    text-outline: 80px;
    left: 80px;
    border: 1px green solid; 
    vertical-align:text-top;
} */
/* #answer1 {
    margin-left: ;
    display:flex;
    flex-direction:row;
    height:10%;

}
#answer2 {
    display:flex;
    flex-direction:row;
    height:10%;
}
#answer3 {
    display:flex;
    flex-direction:row;
    height:10%;
}
#answer4 {
    display:flex;
    flex-direction:row;
    height:10%;
}  */